.candidature {
    background-color: #5584AC;
    height: 400px;
}

.candidature .img_etudiante {
    position: absolute;
    right: 5%;
    bottom: 400px;
}

.presentation {
    background-color: #000;
    height: 400px;
}
