.app {
    width: 100vw;
    height: 100vh;
}

.gauche {
    float: left;
    width: 50vw;
    height: 100vh;
    background-color: #000;
}

.droit {
    float: right;
    width: 50vw;
    min-height: 100vh;
    background-color: #8CC04D;
}

.image {
    position: absolute;
    bottom: 0;
    left: 65%;
}

.commentaire {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 600;
    font-size: 150%;
}

.auteur {
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    font-style: italic;
}

.bienvenue {
    margin-top: 15%;
    text-align: center;
    font-weight: 600;
    font-size: 250%;
    color: #FFF;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0% 20%;
}

form label {
    color: #FFF;
    margin-top: 3%;
}

form .login-input {
    margin-top: 1%;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    height: 40px;
    background-color: #000;
    color: #D4D4D4;
    font-size: 110%;
}

form .login-btn {
    margin-top: 2%;
    background-color: #5584AC;
    border: none;
    padding: 2%;
    font-size: 25px;
    border-radius: 5px;
}

.separateur {
    width: 30vw;
    margin-top: 5vh;
}

.connnect-with {
    position: absolute;
    top: 56vh;
    left: 21.2vw;
    background-color: #000;
    padding: 0 0.4vw;
}

.g_id_signin {
    padding-left: 3vw;
    padding-top: 1vh;
}